body{
    background-color: antiquewhite;
    background-color: blueviolet;
}

#div1{
    background-color: blue;
}
#div1{
}
#div2{
    background-color: greenyellow ;
}
#div3{
    background-color: yellow;
}