body{
    background-image: url(/S-4/figura-triangular-geometrica-legal-em-uma-luz-de-laser-neon-otima-para-fundos-e-papeis-de-parede.jpg);
    height: 3000px;
    opacity: 0.;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
}

#div1 {
    background-color: blue;
}

#div2{
    background-color: green;
    position: fixed;
}