

body, a{
    color: gray;
}
h1{ text-align: center;
    /* reduzindo o código */
    font: italic small-caps lighter 5vw "Sofia";

    
    /* font-style: italic;
    font-variant: small-caps;
    font-weight: lighter;
    font-family: "sofia"; */

    /* font-size: 5vw;  vw representa o tamanho da página em porcentagem 
    text-shadow: 1px 1px 2px black; */
    
    
    
    
}

p{
    text-align: justify;
    /* direction: rtl;
    unicode-bidi: bidi-override;
    text-decoration: underline; */
    text-decoration: underline wavy;
    text-transform: capitalize;
    text-indent: 40PX;
    letter-spacing: 2PX;
    line-height: 2rem;
    word-spacing: 5px;
    white-space: normal;
}
a:link{
    color: black;
    text-decoration: none;

}
a:visited{
    
}