

body, a{
    color: gray;
}
h1{ font-style: italic;
    font-variant: small-caps;
    font-weight: lighter;
    
    font-size: 5vw; /* 1 vw representa o tamanho da página em porcentagem */
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: "sofia";
    
    
    
}

p{
    text-align: justify;
    /* direction: rtl;
    unicode-bidi: bidi-override;
    text-decoration: underline; */
    text-decoration: underline wavy;
    text-transform: capitalize;
    text-indent: 40PX;
    letter-spacing: 2PX;
    line-height: 2rem;
    word-spacing: 5px;
    white-space: normal;
}