*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 95vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15vh 65vh 20vh;
}

header, nav, article, footer{
    padding: 20px;
    color: antiquewhite;
    font
}