body{
    background-color: tomato;
    margin: 10px;
}

.conteiner > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: chartreuse;
}

.conteiner > div:nth-child(1n){
    background-color: blueviolet;
}

.conteiner > div:nth-child(2n){
    background-color: rgb(43, 226, 52);
}

.conteiner > div:nth-child(3n){
    background-color: blueviolet;
}

.conteiner > div:nth-child(4n){
    background-color: blueviolet;
}

.conteiner > div:nth-child(5n){
    background-color: blueviolet;
}

.conteiner > div:nth-child(6n){
    background-color: blueviolet;
}