*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica neue", Arial, Helvetica, sans-serif;
}

body{
    background-color: bisque;
    margin: 10px;
}

header, nav, article, footer{
    color: brown;
    font-size: 2rm;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    
}